extends ../layout

block content
	div.row
		fieldset.fieldset
			legend Edit Student Details: #{student._id}

			form(action='/students/#{student._id}/edit', method='post', name='updateStudent', enctype='application/x-www-form-urlencoded')
				
				div.row
					div.small-3.columns
						label.text-right.middle Student Name
					div.small-9.columns
						input#studentName(name='name', value='#{student.name}', type='text', placeholder='Enter The student Name')
				div.row
					div.small-3.columns
						label.text-right.middle Student Email
					div.small-9.columns
						input#studentEmail(name='email',value='#{student.email}', type='email', placeholder='Enter The student Email')
				div.row
					div.small-3.columns
						label.text-right.middle Student Phone
					div.small-9.columns
						input#studentPhone(name='phone', type='number',value='#{student.phone}', placeholder='Enter The student Phone')
				div.row
					div.small-3.columns
						label.text-right.middle Student DOB
					div.small-9.columns
						input#studentDOB(name='dob', type='date',value='#{studentdob}', placeholder='Enter The student DOB')
				div.row
					div.small-3.columns
						label.text-right.middle Is the Student Active ?
					div.small-9.columns
						input#studentActive(name='isActive', type='checkbox', checked=('#{student.isActive}'==='true' ? "checked" : undefined))
				div.row
					input(type='hidden',value='PUT',name='_method')
					div.small-6.columns
						input(type='submit',value='Update Student', class='button success')
					div.small-6.columns
						a(href='/students' class='button') Back to Listing

